  body { 
    font-family: Arial, sans-serif; 
    background: #f4f6f8; 
    margin: 0; padding: 0; 
}
  header { 
    background: #004080; 
    color: white; 
    padding: 5px; 
    text-align: center; 
}
  nav {
    position: relative;
    left: 0;
    z-index: 1000;
    margin-top: 2px;
    height: 27rem;
    width: 20rem; 
    overflow-y: scroll;
    overflow-x: hidden;
    background: #0073e6; 
    padding-top: 5px;
    padding-left: 7px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav::-webkit-scrollbar{
  display: none;
}
  nav a { 
    color: #fff; 
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    text-decoration: none; 
    border-radius: 10px;
    font-weight: bold; 
    width: 18rem;
    transition: background 0.3s, color 0.3s ease-in-out;
}
  nav a:hover { 
    background: #fff;
    color: black;
}

nav a i{
  position: absolute;
  margin-left: 16rem;
}
.container { 
    padding: 20px; 
    /* width: 45rem; */
    position: absolute;
    top: 10rem;
}
@media (min-width: 700px){
  .container { 
    padding: 20px; 
    width: 45rem;
    position: absolute;
    left: 25rem;
    top: 10rem;
}

}
  .stats { 
    display: flex; 
    gap: 20px; 
    margin-top: 20px; 
}
  .card { 
    background: white; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 5px #ccc; 
    flex: 1; 
    text-align: center; 
}
  .logout-btn { 
    float: right; 
    background: #cc0000; 
    color: white; 
    border: none; 
    padding: 8px 16px; 
    cursor: pointer; 
    border-radius: 5px; 
}
  .logout-btn:hover { 
    background: #990000; 
    }
footer {
    background: #004aad;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 2px;
    position: relative;
    z-index: 1000;
}